<link rel='stylesheet' href='/css/styles.listatareas.css' />
<link rel='stylesheet' href='/css/styles.floatingbuttons.css' />
<input id='inpView' type='hidden' value='viewHome' />

<div class='title-page'>
  <p>Mis tareas</p>
</div>

{{#if hayTareas}}

  <div id='contCardTareas'>
    <div class='container'>

      <div class='row' style='margin-top: 1rem;'>
        <div class='col-sm-12 col-md-6 d-flex flex-column'>
          <p style='letter-spacing: 2px;'>🎃 <span id='phraseRandom'></span></p>
        </div>

        <div class='col-sm-12 col-md-6 d-flex flex-column'>
          <p style='text-align: end; font-size: 1.2rem;'><span class='rainbow-text'>Tareas totales {{cantTareasTotales}}</span></p>
        </div>
      </div>

      <div class='row'>

        <div class='col-sm-12 d-flex flex-column'>
        </div>

        {{#each arrObjData}}

          {{! todo, los estilos pasar a un css luego }}
          <div class='col-sm-12 col-md-6'>
            <div class='card animate__animated' id='cardId{{this._id}}' style='margin-bottom: 1rem;'>
              <div class='card-body'>
                <p id='est{{this._id}}'><i class='{{this.classIcon}}' style='color: {{this.colorIcon}}'></i> {{this.estado}}</p>
                <p id='des{{this._id}}'>{{this.descripcion}}</p>
                <div style='font-size: 1.2rem; font-weight: bold;'><span id='cat{{this._id}}'>{{this.categoria}}</span></div>
                <div style='color: #b7b1b1; margin-top: -0.5rem;'><span id='sub{{this._id}}'>{{this.subcategoria}}</span></div>
                <p style='margin-top: 1rem;'><i class='bx bxs-calendar'></i> {{this.fechaDesde}} ~ {{this.fechaHasta}}</p>

                <div class='d-flex justify-content-end'>
                  <a href='/tarea/editar/{{this._id}}' class='btn card__btn' tabindex='-1' role='button'><i class='bx bxs-edit'></i></a>
                  <button data-id='{{this._id}}' type='button' class='btn card__btn btn_eliminar_tarea'><i class='bx bxs-trash-alt icon_eliminar_tarea'></i></button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>

    <div class='container mt-3'>
      <div class='d-flex justify-content-center'>
        <nav aria-label='Page navigation example'>
          <ul class='pagination'>
            <li id='btnBackPag' class='page-item'>
              <a class='page-link' href='#' tabindex='-1' aria-disabled='true'><i class='bx bx-chevron-left' style='font-size: 1.99rem'></i></a>
            </li>
            {{#each arrPaginacion}}
              <li id='pag{{this}}' class='page-item page-item-num'><a class='page-link' href='/tarea/lista/{{this}}'>{{this}}</a></li>
            {{/each}}
            <li id='btnNextPag' class='page-item'><a class='page-link' href='#'><i class='bx bx-chevron-right' style='font-size: 1.99rem'></i></a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>

  <script src='/js/tarea/vwlistatareas.js'></script>

{{else}}
  No hay tareas pe
{{/if}}

<!-- Modal -->
<div class='modal fade' id='modalFiltro' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Elije tus filtros</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>

        <div class='cont_filtro'>

          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleEstado'>Estado</label>
            <div class='form-check form-switch'>
              <input id='btnToggleEstado' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroEstado' class='cont_filtro__box display_none'>
            <select id='selFiltroEstado' class='form-select' aria-label='Default select example'>
              <option value='' disabled selected>Selecciona un estado</option>
              <option value='Doing'>Doing</option>
              <option value='To Do'>To Do</option>
              <option value='Done'>Done</option>
            </select>
          </div>
        </div>

        <div class='cont_filtro'>
          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleRangoFechas'>Rango de Fechas (fin)</label>
            <div class='form-check form-switch'>
              <input id='btnToggleRangoFechas' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroFechas' class='cont_filtro__box display_none'>
            <div class='row'>
              <div class='col-sm-12 col-md-6'>
                <label for='inpFechaInicio' class='form-label'>Desde</label>
                <input id='inpFechaInicio' type='date' class='form-control' placeholder='Descripción' />
              </div>

              <div class='col-sm-12 col-md-6'>
                <label for='inpFechaFin' class='form-label'>Hasta</label>
                <input id='inpFechaFin' type='date' class='form-control' placeholder='Descripción' />
              </div>
            </div>
          </div>
        </div>

        <div class='cont_filtro'>
          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleCategorias'>Categorías</label>
            <div class='form-check form-switch'>
              <input id='btnToggleCategorias' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroCategoria' class='cont_filtro__box display_none'>
            <select id='selFiltroCategoria' class='form-select' aria-label='Default select example'>
              <option selected value='' disabled>Selecciona una categoría</option>
            </select>
          </div>
        </div>

      </div>
      <div class='modal-footer'>
        <button id='btnFiltrar' type='button' class='btn btn-primary'>Filtrar <i class='bx bxs-filter-alt'></i></button>
        <button id='btnQuitarFiltros' type='button' class='btn' style='background-color: #cd87c9;' data-bs-dismiss='modal'>Quitar filtros <i class='bx bxs-brush-alt'></i></button>
        <button type='button' class='btn' style='background-color: #b7b1b1;' data-bs-dismiss='modal'>Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/tarea/vwlistatareasFiltro.js'></script>
<script src='/js/tarea/floatingButtonsList.js'></script>

<div class='cont_btn_floating'>
  <div class='buttons-list'>
    <div class='btn-toggle-list'>
      <span class='btn-dot display_none'></span>
    </div>
    <div class='items-list'>
      <ul>
        <li style='--i:0.1s'>
          <a class='btn' data-bs-toggle='modal' data-bs-target='#modalFiltro'>
            <i class='bx bxs-filter-alt'></i>
          </a>
          <span id='dotFiltro' class='btn-dot display_none'>3</span>
        </li>
        <li style='--i:0.2s'><a href='/tarea/agregar'><i class='bx bxs-message-square-add'></i></a></li>
      </ul>
    </div>

  </div>
</div>