<link rel='stylesheet' href='/css/styles.listatareas.css' />
<link rel='stylesheet' href='/css/styles.floatingbuttons.css' />
<input id='inpView' type='hidden' value='viewHome' />

<div class='title-page'>
  <p>Mis tareas</p>
</div>

{{#if hayTareas}}

  <div id='contCardTareas'>
    <div class='container'>

      <div class='row' style='margin-top: 1rem;'>
        <div class='col-sm-12 col-md-6 d-flex flex-column'>
          <p style='letter-spacing: 2px;'>🎃 <span id='phraseRandom'></span></p>
        </div>

        <div class='col-sm-12 col-md-6 d-flex flex-column'>
          <p style='text-align: end; font-size: 1.2rem;'><span class='rainbow-text'>Tareas {{cantTareas}}</span></p>
        </div>
      </div>

      <div class='row'>

        <div class='col-sm-12'>
          <div id='contTareas' class='cont-tareas'>
            {{#each arrObjData}}
              <div class='card animate__animated' id='cardId{{this._id}}' style='margin-bottom: 1rem;'>
                <div class='card-body'>
                  <p id='est{{this._id}}'><i class='{{this.classIcon}}' style='color: {{this.colorIcon}}'></i> {{this.estado}}</p>
                  <p class='card-text' id='des{{this._id}}'>{{this.descripcion}}</p>
                  <div style='font-size: 1.2rem; font-weight: bold;'><span id='cat{{this._id}}'>{{this.categoria}}</span></div>
                  <div style='color: #b7b1b1; margin-top: -0.5rem;'><span id='sub{{this._id}}'>{{this.subcategoria}}</span></div>
                  <p style='margin-top: 1rem;'><i class='bx bxs-calendar'></i> {{this.fechaDesde}} ~ {{this.fechaHasta}}</p>

                  <div class='card-footer'>
                    <small class='text-muted'><b>Creada:</b> {{this.fechaCreacion}}</small>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src='/js/tarea/vwlistatareas.js'></script>

{{else}}
  <h5 id='txtCasoNoTareas'>( ﾉ ﾟｰﾟ)ﾉ No hay tareas ＼(ﾟｰﾟ＼)</h5>

  <img src='/img/Thinking_Flatline.svg' class='img-fluid' alt='...' />
{{/if}}

<!-- Modal filtros -->
<div class='modal fade' id='modalFiltro' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Elije tus filtros</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>

        <div class='cont_filtro'>

          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleEstado'>Estado</label>
            <div class='form-check form-switch'>
              <input id='btnToggleEstado' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroEstado' class='cont_filtro__box display_none'>
            <select id='selFiltroEstado' class='form-select' aria-label='Default select example'>
              <option value='' disabled selected>Selecciona un estado</option>
              <option value='Doing'>Doing</option>
              <option value='To Do'>To Do</option>
              <option value='Done'>Done</option>
            </select>
          </div>
        </div>

        <div class='cont_filtro'>
          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleRangoFechas'>Rango de Fechas (fin)</label>
            <div class='form-check form-switch'>
              <input id='btnToggleRangoFechas' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroFechas' class='cont_filtro__box display_none'>
            <div class='row'>
              <div class='col-sm-12 col-md-6'>
                <label for='inpFechaInicio' class='form-label'>Desde</label>
                <input id='inpFechaInicio' type='date' class='form-control' placeholder='Descripción' />
              </div>

              <div class='col-sm-12 col-md-6'>
                <label for='inpFechaFin' class='form-label'>Hasta</label>
                <input id='inpFechaFin' type='date' class='form-control' placeholder='Descripción' />
              </div>
            </div>
          </div>
        </div>

        <div class='cont_filtro'>
          <div class='d-flex justify-content-between'>
            <label class='form-check-label' for='btnToggleCategorias'>Categorías</label>
            <div class='form-check form-switch'>
              <input id='btnToggleCategorias' class='form-check-input' type='checkbox' />
            </div>
          </div>

          <div id='contFiltroCategoria' class='cont_filtro__box display_none'>
            <select id='selFiltroCategoria' class='form-select' aria-label='Default select example'>
              <option selected value='' disabled>Selecciona una categoría</option>
            </select>
          </div>
        </div>

      </div>
      <div class='modal-footer'>
        <button id='btnFiltrar' type='button' class='btn btn-primary'>Filtrar <i class='bx bxs-filter-alt'></i></button>
        <button id='btnQuitarFiltros' type='button' class='btn' style='background-color: #cd87c9;' data-bs-dismiss='modal'>Quitar filtros <i class='bx bxs-brush-alt'></i></button>
        <button type='button' class='btn' style='background-color: #b7b1b1;' data-bs-dismiss='modal'>Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal tarea detalle -->
<div class='modal fade' id='modalDetalleTarea' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'><i class='bx bxs-lemon'></i> Detalle tarea</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>

      {{! * loader }}
      <div class='second-loader'>
        <div id='wifi-loader'>
          <svg class='circle-outer' viewBox='0 0 86 86'>
            <circle class='back' cx='43' cy='43' r='40'></circle>
            <circle class='front' cx='43' cy='43' r='40'></circle>
            <circle class='new' cx='43' cy='43' r='40'></circle>
          </svg>
          <svg class='circle-middle' viewBox='0 0 60 60'>
            <circle class='back' cx='30' cy='30' r='27'></circle>
            <circle class='front' cx='30' cy='30' r='27'></circle>
          </svg>
          <svg class='circle-inner' viewBox='0 0 34 34'>
            <circle class='back' cx='17' cy='17' r='14'></circle>
            <circle class='front' cx='17' cy='17' r='14'></circle>
          </svg>
          <div class='text' data-text='paciencia'></div>
        </div>
      </div>

      <div class='modal-body display_none'>

        <p id='detEstado'></p>
        <p id='detDescripcion' class='card-text'></p>
        <div id='detCategoria' style='font-size: 1.2rem; font-weight: bold;'></div>
        <div id='detSubcategoria' style='color: #b7b1b1; margin-top: -0.5rem;'></div>
        <p id='detFechaDH' style='margin-top: 1rem;'></p>

        {{! todo, cambiar estos botones para el footer? }}
        {{! todo, todavia estos botones falta arreglarlos en el JS y en el CSS (no se ven xD) }}
        <div id='contBotonesModal' class='d-flex justify-content-end'>
          <a id='btnEditarTarea' href='' class='btn card__btn btn_edit' tabindex='-1' role='button'><i class='bx bxs-edit'></i></a>
          <button id='btnEliminarTarea' data-id='' type='button' class='btn card__btn btn_eliminar_tarea'><i class='bx bxs-trash-alt icon_eliminar_tarea'></i></button>
        </div>

      </div>
    </div>
  </div>
</div>

<script src='/js/tarea/vwlistatareasFiltro.js'></script>
<script src='/js/tarea/floatingButtonsList.js'></script>

<!-- botón flotante -->
<div class='cont_btn_floating'>
  <div class='buttons-list'>
    <div class='btn-toggle-list'>
      <span class='btn-dot display_none'></span>
    </div>
    <div class='items-list'>
      <ul>
        <li style='--i:0.1s'>
          <a class='btn' data-bs-toggle='modal' data-bs-target='#modalFiltro'>
            <i class='bx bxs-filter-alt'></i>
          </a>
          <span id='dotFiltro' class='btn-dot display_none'>3</span>
        </li>
        <li style='--i:0.2s'><a href='/tarea/agregar'><i class='bx bxs-message-square-add'></i></a></li>
      </ul>
    </div>

  </div>
</div>